@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 14px;
}

body{
    font-family: 'Poppins', sans-serif;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

a{
    text-decoration: none;
    color: #000;   
}

$total: 12;
@function grid12($col) {
    @return percentage($col/$total);
}

@for $i from 1 through $total {
    .col-#{$i}{
        width: grid12($i);
    }
}

#nav-bar{
    justify-content: flex-start;
    padding-left: 10px;
    .col-3{
        width: fit-content;
        a{
            padding-right: 10px;
        }
    }
    
}

#cover{
    height: 42vh;
    background-color: #111;
    color: #fff;
    text-align: center;
}

#cover{
    .col-3 h4{
        font-weight: 400;
    }
} 


#cover{
    .col-3{
        h2{
            margin: 20px 0 30px 0;
            font-weight: 400;
        }
    } 
} 

.btn{
    background-color: #888;
    color: #fff;
    border: none;
    width: 110px;
    height: 30px;
    font-size: 1.1rem;
    font-weight: 700;
}

#main{
    background-color: #eee;
    padding: 5% 0;
    .col-6{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #main__content{
        align-items: flex-start;
        padding-left: 1%;
    }
    p{
        margin-top: 20px;
    }
    img{
        margin-right: -15%;
        width: 70%;
        border-radius: 7px;
    }
}

.btn-2{
    @extend .btn;
    background-color: #111;
    font-size: 0.9rem;
    width: 150px;
    font-weight: 400;
    margin-top: 10px;
}

#break{
    border: 1px solid #eee;
    margin: 20px 0;
}

#blog-hd-border{
    background-color: #7f7d9c;
    padding: 10px;
    color: #fff;
}

#blog-ft-border{
    @extend #blog-hd-border;
    .col-12{
        display: flex;
        flex-direction: column;
        span{
            &:nth-child(2){
                font-size: 0.8rem;
            }
        }
    }
}

#blog-body{
    .col-12{
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        h2{
            font-weight: 400;
            padding-top: 10px;
        }
    }
}

#blog-body-para{
    font-size: 1rem;
    padding: 10px;
    p{
        margin: 10px 0;
    }

}

#cards-title{
    .col-3{
        h2{
            text-align: center;
            font-weight: 400;
            margin-top: 25px;
        }
    }
}

#card-section{
    justify-content: space-around;
}

.card{
    margin: 10px;
    
    // border: 1px solid #000;
    .card__head{
        padding: 10px;
        font-weight: 400;
        color: #fff;
    }
    .card__sub-head{
        padding: 10px;
        font-size: 1.1rem;
        font-weight: 400;
    }
    .card__movie{
        padding: 10px;
        font-weight: 400;
        font-size: 1rem;
        border-top: 1px solid #ccc;
        .card__movie__title{
            font-weight: 400;
            margin-bottom: 10px;
        }
        .card__movie__review{
            font-size: 0.9rem;
        }
    }
    .card__footer{
        @extend .card__head;
        font-size: 1rem;
    }
    .card--black{
        box-shadow: 7px 12px 26px -15px rgba(17,17,17,1);
    }
    .card--indigo{
        box-shadow: 7px 12px 26px -15px rgba(50,50,50,1);
    }
    .card__head--black,
    .card__footer--black{
        background-color: lighten(#000, 15%);
    }
    .card__head--indigo,
    .card__footer--indigo{
        background-color: darken(#4B0082, 10%);
    }
    
}

@mixin mediaQ($device){
  
    @if $device == tablet {    
        @media screen and (max-width: 576px) {
            @content;
        }
    }
 
    @if $device == mobile {
        @media screen and (max-width: 330px) {
            @content;
        }
    }
}

@include mediaQ(tablet){
    @for $i from 1 through $total {
        .col-#{$i}{
            width: 100%;
        }
    }
    body{
        font-size: 12px;
    }
    #blog-body-para{
        
        p{
            font-size: 0.8rem;
        }
    
    }
    // #cover{
    //     height: 40vh;
    // }
    #main{
        height: 120vh;
    }
}

@include mediaQ(mobile){
    body{
        font-size: 10px;
    }
    #cards-title{
        .col-3{
            h2{
            text-align: center;
            font-size: 1rem;
        }
        }
    }
    .card__sub-head{
        font-size: 0.8rem;
    }
    .card__movie__title{
        font-size: 0.7rem;
    }
    .card__movie__review{
        font-size: 0.6rem;
    }
}

@mixin mediaQTablet{
        @media screen and (max-width: 576px){
            @content;
        }
}
@mixin mediaQmobile{
    @media screen and (max-width: 330px){
        @content;
    }
}

@include mediaQTablet{
    @for $i from 1 through $total {
        .col-#{$i}{
            width: 100%;
        }
    }
    #cover{
        height: 40vh;
    }
    #main{
        height: 120vh;
    }
}

@include mediaQmobile{
    body{
        font-size: 10px;
    }
    #cards-title{
        .col-3{
            h2{
            text-align: center;
            font-size: 1rem;
        }
        }
    }
    .card__sub-head{
        font-size: 0.8rem;
    }
    .card__movie__title{
        font-size: 0.7rem;
    }
    .card__movie__review{
        font-size: 0.6rem;
    }
}